spring:
  application:
    name: catalog
  profiles:
    active: dev
    
server:
  port: 8080
logging:
  level:
    root: INFO
    com.tiquetera: DEBUG
  file:
    name: ./logs/catalog.log
    
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
    